* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: rgb(173, 157, 137);
}

.wrapper {
	min-height: 60vh;
	width: 35%;
	border-radius: 15px;
	overflow: hidden;
	background-color: rgb(94, 33, 8);
	box-shadow: 0 0 10px black;
	margin: 10% 0;
}

.header {
	background-image: url("/img/shop_shelf.jpg");
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	height: 25vh;
	background-size: cover;
	background-position: center;
	padding: 10px 20px;
	z-index: 0;
	box-shadow: 0 0 5px red;
}

.shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: -1;
}

.title {
	font-family: "Roboto", sans-serif;
	color: white;
}

.find {
	width: 100%;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 20px 0;
	background-color: rgba(255, 255, 255, 0.85);
	font-size: 14px;
}

h3 {
	padding: 20px;
	padding-top: 25px;
	color: white;
}

.products {
	padding-bottom: 15px;
}

.products-list {
	list-style: none;
	padding: 0 20px;
}

.products-list li {
	padding: 5px 15px;
	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.products-list li:last-child {
    border-bottom: none;
}